<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<runtime>
		<loadFromRemoteSources enabled="true"/>
	</runtime>
	<system.webServer>
		<modules>
			<remove name="WebDAVModule" />
		</modules>
		<handlers>
			<remove name="WebDAV" />
			<remove name="aspNetCore" />
			<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
		</handlers>
		<aspNetCore processPath=".\Api.exe" arguments="" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" hostingModel="InProcess">
			<environmentVariables>
				<environmentVariable name="ASPNETCORE_HTTPS_PORT" value="446" />
				<environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Staging" />
			</environmentVariables>
		</aspNetCore>
	</system.webServer>
</configuration>